html {
    font-size: 10px;
    font-family: STHeitiSC, heiti, Serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    position: relative;
    width: 100%;
}

/* head */

.head {
    /*height: 4.5rem;*/
    /*line-height: 4.4rem;*/
    background-color: #5ac0ce;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    font-family: STHeitiSC, 'heiti', serif;
    position: relative;
}

.headMiddle {
    display: inline-block;
    position: relative;
}

.headRight {
    /*使用绝对定位的时候要注意，父元素一定要使用position: relative; 否则，会出奇怪的问题*/
    position: absolute;
    display: inline-block;
    right: 1.5rem;
    top: 0;

    /*下面两个语句实现垂直居中*/
    top: 50%;
    /*X不变，y轴向上移动自身高度的50%。*/
    transform: translate(0, -50%);
}

.headRight img {
    width: 2.1rem;
}

button {
    position: relative;
    margin: 0.3rem -0.8rem;
    padding: 0.8rem 1.2rem;
    border: 0;
    /*height: 3.4rem;*/
    border-radius: 0.5rem;
    font-size: 1.7rem;
    background-color: #55a8b3;
    color: #fff;
}

button.active {
    background-color: #fff;
    color: #5FC0CD;
}

button:focus {
    /*background-color: #fff;*/
    /*color: #5FC0CD;*/
    outline: none;
}


/*main*/
.main {
    padding-bottom: 4.8rem;
}

.mainHead {
    display: flex;
    justify-content: center;
}

.mainHead select {
    flex: 1;
    font-size: 1.4rem;
    color: #999999;
    height: 4.0rem;
    /*下面两句让select文字居中*/
    text-align: center;
    text-align-last: center;
    border: 1px solid #E1E5E7;
    font-family: HiraginoSansGB, 'heiti', serif;
    /*padding-left: 20px;*/
}

select:focus {
    outline: none;
}

.mainList ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: STHeitiSC, 'heiti', serif;
}

.listItem {
    border-bottom: 1px solid #E1E5E7;
    padding: 0.5rem 1.5rem;
}

.itemTop, .itemMiddle, .itemBottom {
    /*下面两句让文字垂直居中*/
    height: 3.0rem;
    line-height: 3.0rem;
}

.itemTop img , .itemBottom img {
    /*设置图片和文本底部对齐*/
    vertical-align: text-bottom;
    width: 1.2rem;
}

.itemTop , .itemBottom {
    font-size: 1.3rem;
    color: #999;
}

.itemMiddle {
    margin-left: 1.6rem;
}

.middleLeft {
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    color: #333;
}

.middleRight {
    position: relative;
    display: inline-block;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    color: #E63B0E;
    vertical-align: middle;
    padding-right: 2.0rem;
}

.middleRight img {
    height: 1.65rem;
    /*使用绝对定位垂直居中*/
    position: absolute;
    top:50%;
    right: 0;
    transform: translate(0,-50%);
}

/* foot */
.foot {
    position: fixed;
    display: flex;
    bottom: 0;
    background-color: #F8FAFB;
    min-width: 30rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #E1E5E7;
    justify-items: center;
    align-items: center;
}

.foot div {
    display: inline-block;
    /*margin: 0 2.5rem;*/
    flex: 1;
}

.foot div img {
    /*实现垂直居中*/
    vertical-align: middle;
}

.write {
    width: 4.7rem;
}

.home, .person {
    width: 2.1rem;
}
